@CHARSET "ISO-8859-1";


body{background-color:thistle;}
h1{color: black; font-family: Cambria; font-size: 200%;}
h2{color: black; font-family: Cambria; font-size: 150%;}
p{color: black;font-family: Cambria; font-size: 150%;}
ul {
    list-style-type: none;
    margin: 2%;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    
}

li {
    float: left;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 30px;
}

li a:hover {
    background-color: #111111;
}

.formfield * {
  vertical-align: middle;
}

table, th {
    border: 1px solid black;
}

